$errorbg: rgb(114, 8, 8);

.Alert-wrapper {
  border: 1px dotted rgb(224, 116, 116);
  background-color: $errorbg;
  border-radius: 0.5rem;
  padding: 1rem;
}
.icondiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    display: flex;
    align-items: center;
  }
}
